.ShopNowButton{
    position: absolute;
    margin-top: 30rem;
    margin-left: 45%;

    background-color: white;
    color: black;
    padding: 1rem 2rem;
    border-radius: 2.2rem;
}
.ShopNowButton:hover{
    background-color: #8A0B03;
    color: white;
    cursor: pointer;
}
.disabled {
    pointer-events: none;
    opacity: 0;
    transition: 1s ease-in-out;
}
