.dicefitslogo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  margin-left: auto;
  position: relative;
}

/* .dicefitslogo::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 2.3rem;
  width: 67%;
  height: 0.1rem;
  background-color: whitesmoke;
} */
